<form ng-submit="new_project()">
    <div class="form-group">
        <input type="text" name="" ng-model="project_name">
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-sm">Create Project</button>
    </div>
</form>
<hr>
<table class="table table-condensed table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>API</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(key,value) in project_list">
            <td>{{value.name}}</td>
            <td>{{key}}</td>
        </tr>
    </tbody>
</table>